{{define "index"}}
    {{template "header"}}

    <div class="row clearfix">
        <div class="col-md-6 column">
            <div class="row">
                <div class="col-md-12">
                    <div id="upDownPie" style="height: 250px; text-align: center;">
                    </div>

                    <h3>Down Devices</h3>
                    <table class="table table-striped table-hover1">
                        <thead>
                            <tr>
                                <th>Device</th>
                                <th>Status</th>
                                <th>Last Polled</th>
                                <th>Last Error</th>
                            </tr>
                        </thead>
                        <tbody id="down-table-body">
                            <tr>
                                <td>Loading...</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>Application Health:</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>System</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>Inca</td>
                                <td>Running</td>
                            </tr>
                            <tr class="danger">
                                <td>Poller</td>
                                <td>Stopped</td>
                            </tr>
                            <tr class="danger">
                                <td>Garbage Collector</td>
                                <td>Stopped</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 column">
            <h3>Error Logs</h3>
            <div id="appLogs">
                <table class="table">
                    <tr class="warning">
                        <td>Warning</td>
                        <td>Device has bad connection profile</td>
                    </tr>
                    <tr class="danger">
                        <td>Error</td>
                        <td>Poller stopped and won't start again</td>
                    </tr>
                    <tr>
                        <td>Info</td>
                        <td>Poller finished</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {{template "scripts" list "piechart" "main"}}
    <!-- <script type="text/javascript" src="/js/prod.min.js"></script> -->
    {{template "footer"}}
{{end}}
