{{define "deviceTypePage"}}
    {{template "header"}}

    <h2>Device Type Configuration:</h2>
    <h4>Filename: {{.Path}}</h4>

    <form>
        <button type="button" class="btn btn-primary" id="saveDeviceTypeBtn" onClick="saveDeviceTypes();">Save</button><br><br>
        <textarea cols="125" rows="30" id="deviceTypeConfig">{{.ConfText}}</textarea>
    </form>
    <br>

    {{template "scripts"}}
    <script type="text/javascript" src="/scripts/deviceListPage.js"></script>
    <!-- <script type="text/javascript" src="/js/prod.min.js"></script> -->
    {{template "footer"}}
{{end}}
