{{define "footer"}}
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">This application is copyright &copy; 2014 Onesimus Computer Systems. This application is released under the terms of the <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html" target="_blank">GNU General Public License version 3</a>.</p>
      </div>
    </footer>
</body>
</html>
{{end}}
