{{define "scripts"}}
<script type="text/javascript" src="/static/js/vendors/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/vendors/bootstrap/bootstrap.min.js"></script>
{{end}}
