[Unit]
Description=Inca
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure

User=inca
Group=inca

StandardOutput=journal
StandardError=inherit

LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536

WorkingDirectory=/opt/inca
ExecStart=/opt/inca/inca

[Install]
WantedBy=multi-user.target
